html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    
  }
  
  body {
    min-width: 600px; 
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    text-align: center;
    overflow: auto; 
    
  }

  .logo-container img {
    width: 100%;
    height: auto;
  }

.intro{
    font-size: 1.1rem;
    margin-bottom: 10px;
    
}

.cchem, .intro{
    font-family: 'Sansation', sans-serif;
  }

  .cchem{
    font-weight: 1em;
    font-size: 2rem;
    color: black;
  }
  .buttons, .login, .footer{
    font-family: 'Outfit', sans-serif;
  }

  .buttons {
    display: flex;
    gap: 30px; 
    
  }
  .buttons button{
    background-color: rgb(247, 148, 151);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 45px; 
    margin: 5px;
    font-weight: light;
  }

  .buttons button:hover{
    background-color: rgb(212, 96, 100); 
  }

  body .buttons button:active {
    --bs-btn-active-bg:  rgb(209, 79, 84); 
  }

.login{
    margin-top: 1.7rem;
    font-size: 1.5rem;
}

body .login-btn{
    border: none;
    background-color: none;
    text-decoration: underline;
    color: #F79497;
    font-size: 1.5rem;
  }

  body .login-btn:hover{
    color: rgb(212, 96, 100);
  }

  body .login-btn:active{
    --bs-btn-active-color:  rgb(209, 79, 84); 
  }

  body .login{
display: flex;
  align-items: center; 
  }

